/build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/

/dhewm*
/*-releases/
/neo/.vs*
/neo/out*
/neo/build*
/.vs*

/neo/CMakeSettings.json

# Generated Mac app bundle and disk images (created by scripts/macos-bundle.sh)
/dhewm3.app/
/*.dmg
